doctype html
html
  head
    title Natours | #{tour}
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')

  body
    h1= tour
    //- tour name
    h2= user.toUpperCase()

    - const x = 9;
    h2= 2 * x

    p This is just some text test